<% v = ViewNavbar.new(current_path: request.path)  %>

<header>
  <nav class="c-navbar navbar navbar-light navbar-expand-md fixed-top">
    <div class="container">
      <div class="d-inline-block">
        <a class="fw-900" href="/">Bootrails</a>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav  ms-auto">
          <li class="nav-item">
            <a class="nav-link my-0 <%= v.is_example_path? ? 'active' : '' %>" href="<%= examples_path %>">
              Examples
              <% if v.is_example_path? %>
              <span class="visually-hidden">(current)</span>
              <% end %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-0" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="c-navbar-button px-4 py-1 btn btn-primary " href="#">
              Buy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
