<div class="c-settings-v1">

  <div class="c-account-v1 container py-5">
    <ul class="nav nav-tabs mb-5">
      <li class="nav-item">
        <a class="nav-link active" href="/settings/account/">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/settings/notifications/">Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/settings/integrations/">Integrations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/settings/billing/">Usage &amp; Billing</a>
      </li>
    </ul>
    <div class="mb-5 p-4 card">
      <h5>myname</h5>
      <p class="text-muted mb-1">myname@myemail.com</p>
      <p class="text-muted mb-4">Joined on <span>Jan. 27, 2021, 7:04 p.m.</span></p>
      <div class="mb-3 d-flex flex-row">
        <a class="btn bg-white btn-sm me-2" href="#">Change email</a>
        <form class="" action="#" method="post" onsubmit="return false;">
          <button type="submit" class="btn bg-white btn-sm">Reset password</button>
        </form>
      </div>
    </div>
    <div class="mb-5 p-4 card">
      <form method="post">
        <fieldset>
          <legend>Personal Information</legend>
          <div class="form-group mt-5">
            <label for="id_name">Display Name</label>
            <input type="text" name="name" value="myname" maxlength="254" class="textinput textInput form-control" required="" id="id_name">
          </div>
        </fieldset>
        <div class="mt-4">
          <input type="submit" name="submit" value="Save" class="btn btn-primary btn btn-primary btn-sm" id="submit-id-submit">
        </div>
      </form>
    </div>
  </div>
  
</div>

