<div class="">
  <div class="container pt-4">
    <div class="row">
      <div class="col col-lg-8 mx-auto text-left">
        <h1>Settings</h1>
        <div class="mt-3">
          <p class="mb-0 lead">Settings let your user choose their display name, subscription plan, etc.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-lg-8 mx-auto text-left">
        <div class="pt-5">
          <h3 class="mb-3">Settings V1</h3>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= setting_path('account-v1') %>">
                Account v1<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= setting_path('notifications-v1') %>">
                Notification v1<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= setting_path('billing-v1') %>">
                Billing v1<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= setting_path('delete-v1') %>">
                Delete v1<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
