<div class="c-auth">
  <div class="c-auth-login">

    <div class="container py-5 d-flex flex-column align-items-center">

      <a class="c-auth-logo mb-4" href="#">
        <img src="https://res.cloudinary.com/bdavidxyz-com/image/upload/v1612444576/rails/bootrails_logo.png" width="auto" height="33">
        <span class="c-auth-logo">MyApp</span>
      </a>

      <div class="col-12 col-md-8 col-lg-5 p-4 p-md-5 card">
        <h1 class="mb-4 h3">Sign in to your account</h4>
        <div>
          <form method="post">
            <div id="div_id_username" class="form-group">
              <label for="id_username" class="c-auth-label mb-2">
                Email <span class="visually-hidden">This is a required field</span>
              </label>
              <div class=""> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" class="textinput textInput form-control" required="" id="id_username"> </div>
            </div>
            <div id="div_id_password" class="form-group">
              <label for="id_password" class="c-auth-label mb-2 mt-3">
                Password <span class="visually-hidden">This is a required field</span>
              </label>
              <div>
                <input type="password" name="password" autocomplete="current-password" class="c-auth-label form-control" id="id_password">
              </div>
            </div>
            <a class="c-auth-submit mt-5 btn btn-primary w-100" href="#">Continue</a>
          </form>
          <div class="d-flex mt-3">
            <small class="text-muted text-center w-100">
              <a href="#">Forgot your password?</a>
            </small>
          </div>
        </div>
      </div>
      <p class="text-muted text-sm-start mt-3">
        <small>
          Don't have an account yet? <a href="#">Sign up</a>
        </small>
      </p>
    </div>
  </div>
</div>
