<div class="">
  <div class="container pt-4">
    <div class="row">
      <div class="col col-lg-8 mx-auto text-left">
        <h1>Authentication</h1>
        <div class="mt-3">
          <p class="mb-0 lead">Login and Signup screens</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-lg-8 mx-auto text-left">
        <div class="pt-5">
          <h3 class="mb-3">Authentication</h3>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= auth_path('auth-login') %>">
                Login<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= auth_path('auth-login') %>">
                Signup<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
