<div class="container">

  <div class="py-5">
    <div class="container">
      <div class="row pt-2 pb-4">
        <div class="col-12 col-lg-10 mx-auto d-flex flex-column justify-content-center align-items-center">
          <h1 class="title"><em style="font-family: serif;font-weight: 400;font-size: 50;">MyGreatLibrary</em><span class="text-primary">.js</span></h1>
          <p class="lead text-center mt-3"  style="font-family: sans-serif;font-weight: 300; font-size: 24px;">
            <span class="d-block">
              MyGreatLibrary.js lets you create great applications
            </span>
            <span class="d-block">
              that everyone wants to use every days. And you don't need 
            </span>
            <span class="d-block">
              to write a single line of Javascript.
            </span>          
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <p class="text-center"><button -toggle="intro" class="btn btn-default btn-lg space-sm">✓ Click Me for a Demo</button> <a href="https://github.com/bdavidxyz/bootrails_blocks" target="_blank" class="btn btn-primary btn-lg space-sm">Download on GitHub →</a></p>
    <p class="text-center"><code>git clone git@github.com:bdavidxyz/bootrails_blocks.git</code></p>
  </div>

</div>
