<div class="bg-white text-dark c-example mt-5">
  <div class="container pt-5 pb-2">
    <div class="row">
      <div class="col col-lg-8 mx-auto text-left">
        <h1>Hero sections</h1>
        <div class="mt-3">
          <p class="mb-0 lead">Hero section is the most important one : it's the first thing viewed once the home page is opened.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-lg-8 mx-auto text-left">
        <div class="pt-5">
          <h3 class="mb-3">Text only</h3>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= hero_path('centered-content') %>">Centered content<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= hero_path('left-content') %>">Left content<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="pt-5">
          <h3 class="mb-3">Text and image</h3>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= hero_path('image-right') %>">Image on the right<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12  mb-3">
              <a class="btn border border-0 p-2 px-3 rounded rounded-5 d-flex align-items-center justify-content-between text-left" href="<%= hero_path('images-below') %>">Images below<i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
