<div class="bg-white text-dark c-example mt-5">
  <div class="container pt-5 pb-2">
    <div class="row">
      <div class="col col-lg-8 mx-auto text-left">
        <h1 style="word-break:break-word">"Hero" sections</h1>
        <div class="mt-3">
          <p class="mb-0 lead">Hero section are the first. Often they have few text, a large image and a call-to-action.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-lg-8 mx-auto text-left">
        <div id="quickstart">
          <h3 class="mb-3">Quick start</h3>
          <div class="row">
            <div class="col-12 col-md-4 mb-3"><a class="w-100 h-100 btn bg-white rounded-lg p-3 d-flex flex-row align-items-center justify-content-between text-left" href="/docs/add-website/">1. Add your website<i class="material-icons" style="min-width:20px">arrow_forward</i></a></div>
            <div class="col-12 col-md-4 mb-3"><a class="w-100 h-100 btn bg-white rounded-lg p-3 d-flex flex-row align-items-center justify-content-between text-left" href="/docs/add-analytics-snippet/">2. Install the Panelbear snippet<i class="material-icons" style="min-width:20px">arrow_forward</i></a></div>
            <div class="col-12 col-md-4 mb-3"><a class="w-100 h-100 btn bg-white rounded-lg p-3 d-flex flex-row align-items-center justify-content-between text-left" href="/docs/local-development/">3. Testing your website locally<i class="material-icons" style="min-width:20px">arrow_forward</i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
