
/* change the navbar background color */
.c-navbar {
  background-color: rgba(255,255,255,0.95);
  height: $my-navbar-height;
}

.c-navbar .navbar-nav {
  align-items: center;
}

/* change the navbar brand and text color */
.c-navbar .navbar-brand,
.c-navbar .navbar-text {
  color: #1d2d35;
}
/* change the navbar link color */
.c-navbar .navbar-nav .nav-link {
  color: rgba(18, 20, 29, .5);
  font-weight: 500;
  letter-spacing: .01rem;
  margin-right: .5rem;
}
/* change the color of active or hovered links in navbar */
.c-navbar .nav-item.active .nav-link,
.c-navbar .nav-item:focus .nav-link,
.c-navbar .nav-item:hover .nav-link {
  color: black;
}

a.c-navbar-button {
  margin-left: 0;
  @include media-breakpoint-up(md) { 
    margin-left: 1rem;
  }
}
